@charset "utf-8";

/*MOBILE STYLES START*/
.icon-container {
	position: relative;
	font-size: 20px;
	margin: 0 5%;
}

.center {
	position: absolute;
	left: 50%;
	top: 65%;
	transform: translate(-50%, -50%);
}

.center2 {
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
}

.contact {
	border: solid 2px #f16334;
	width: 350px;
	height: 350px;
	position: relative;
}
/*MOBILE STYLES END*/


/*TABLET STYLES START*/
@media (min-width: 768px) {
	.contact {
	font-size: 22px;
	line-height: 1.5;
	}
	
	.icon-container {
	font-size: 26px;
}
/*TABLET STYLES END*/