@charset "UTF-8";

/*FONT IMPORT START*/
@font-face {
    font-family: geomanist;
    src: url(../fonts/Geomanist-Light-Webfont/geomanist-light-webfont.woff2) format("woff2"), url(../fonts/Geomanist-Light-Webfont/geomanist-light-webfont.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
    font-family: geomanist;
    src: url(../fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff2) format("woff2"), url(../fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: geomanist;
    src: url(../fonts/Geomanist-Book-Webfont/geomanist-book-webfont.woff2) format("woff2"), url(../fonts/Geomanist-Book-Webfont/geomanist-book-webfont.woff) format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
    font-family: geomanist;
    src: url(../fonts/Geomanist-Medium-Webfont/geomanist-medium-webfont.woff2) format("woff2"), url(../fonts/Geomanist-Medium-Webfont/geomanist-medium-webfont.woff) format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
    font-family: geomanist;
    src: url(../fonts/Geomanist-Bold-Webfont/geomanist-bold-webfont.woff2) format("woff2"), url(../fonts/Geomanist-Bold-Webfont/geomanist-bold-webfont.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: icons;
	src: url("../fonts/icons/fa-brands-400.eot");
	src: url("../fonts/icons/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/fa-brands-400.woff2") format("woff2"), url("../fonts/icons/fa-brands-400.woff") format("woff"), url("../fonts/icons/fa-brands-400.ttf") format("truetype"), url("../fonts/icons/fa-brands-400.svg#fontawesome") format("svg"); 
	font-weight: 400;
	font-style: normal;
}

.icon {
  font-family: icons;
}

.fa-facebook-square:before {
  content: "\f082"; 
}

.fa-youtube:before {
  content: "\f167";
}

.icon:before {
	font-family:icons;
	font-style:normal;
	font-weight:400;
	font-variant:normal;
	speak:none;
	display:inline-block;
	text-decoration:inherit;
	font-size:2em;
	margin-right:.4em;
	text-align:center;
	text-transform:none;
	text-rendering: auto;
	line-height:1em;
	margin-left:.4em;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
/*FONT IMPORT END*/


/*GLOBAL STYLES START*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

	article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
		display: block;
}

body {
	font: 300 18px/1.66667em geomanist,helvetica,arial;
	background: #fff;
	color: #26282d;
}

p {
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	text-align: left;
	line-height: 2em;
}

h1 {
	font-size: 34px;
	font-weight: 600;
	line-height: 1.17647;
}

h2 {
	font-size: 30px;
	font-weight: 300;
	line-height: 1.17647;
	padding-bottom: 4%;
}

h3 {
	text-align: center;
    font-weight: 600;
    font-size: 30px;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}

section {
	padding: 10% 5%;
	text-align: center;
}

footer {
	padding: 1.8% 4% 1% 4%;
}

a {
	text-decoration:none;
	color: #f16334;
}

a:hover {
	text-decoration:underline;
	color:#F07B55;
}

body {
	line-height:1
}

ol,ul {
	list-style:none
}

.medium {
	font-weight:600;
}

.heading {
	position: relative;
	padding-bottom: 0.8em;
    margin-bottom: 1.3125em;
}

.heading:after {
	content: '';
    display: block;
    width: 80px;
    height: 3px;
    background: #f16334;
    position: absolute;
    bottom: 0;
	left: 50%;
	margin-left: -40px;
}

section:nth-of-type(odd) {
	color: #43464b;
	background: #f8f8f8;
}

.inner {
	max-width: 90%;
	margin: 0 auto;
	padding: 0 1%;
}

.inner-2 {
	max-width: 50%;
	margin: 0 auto;
	padding: 0 1%;
}

.description {
	margin: 4% 15% 0 15%;
	line-height: 1;
	text-align: center;
}

.flex {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}

.flex-center {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/*GLOBAL STYLES END*/


/*TOP NAVIGATION START*/
header{
	padding:0 4%;
}

.logo-img {
	width:100px;
    float:left;
    position:relative;
    margin:10px 50px 10px 15px;
}

.topnav {
	overflow:hidden;
	background-color:#fff;
	text-transform:uppercase;
	padding:36px 0;
  	border:none;
}

.topnav a {
 	float:left;
 	display:block;
 	color:rgba(47,47,47,1.00);
 	text-align:center;
 	padding:14px 30px;
	text-decoration:none;
 	font-size:17px;
	margin:1px;
	border-radius:10px;
}

.topnav a:hover {
	background-color: #f16334;
	color: white;
}

.active {
	background-color: #f16334;
	color: white !important;
}
  
.topnav .icon {
	display: none;
}

@media screen and (max-width : 768px ){
	.topnav a {display: none;}
  	.topnav a.icon {
		float: right;
    	display: block;
		border: solid 2px #f16334;
		padding: 14px 20px;
  	}
}

@media screen and (max-width : 768px ){
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
    	position: absolute;
  		right: 0;
   		top: 35px;
    	border:none;

  	}
	.topnav.responsive a {
    	float: none;
    	display: block;
    	text-align: left;
  	}
}
/*TOP NAVIGATION END*/


/*FOOTER NAVIGATION START*/
.footer-logo {
	max-width:30%;
}

.footer-container {
	display: flex;
	justify-content: space-between;
}

#footer-logo {
	min-width: 250px;
}
/*FOOTER NAVIGATION END*/


/*MOBILE LANDSCAPE STYLES START*/
	@media (min-width: 481px) {
	h1 {
		font-size: 42px;
		line-height: 1;
	}
	
	h2 {
		font-size: 36px;
		line-height: 1;
	}
		
	h3 {
		font-size: 36px;
		line-height: 1;
	}

}
/*MOBILE LANDSCAPE STYLES END*/


/*TABLET STYLES START*/
@media (min-width: 768px) {

	h1 {
		font-size: 56px;
		line-height: 1;
	}
	
	h2 {
		font-size: 40px;
		line-height: 1.1;
	}
	
	h3 {
		font-size: 40px;
		line-height: 1.1;
	}
	
}
/*TABLET STYLES END*/


/*DESKTOP STYLES START*/
@media (min-width: 1281px) {
	h1 {
		font-size: 84px;
		line-height: 1.11905;
	}

	h2 {
		font-size: 48px;
		line-height: 1.2;
	}
	
	h3 {
		text-align: left;
	}
	
	.description {
		font-size: 22px;
		line-height: 1.5;
	}
	
	.w-40 {
		width: 30%;
	}

	.w-60 {
		width: 50%;
	}
	
}
/*DESKTOP STYLES END*/
